.vscode
.mypy_cache
.pytest_cache
artifacts
node_modules
playwright-report
test-results
.python-version
*egg-info
__pycache__
test_temp_files
pytest.log
build
release-artifacts/
.DS_Store
.github/.tmp/
.ignored
dc43_docs_chat/