{% extends "base.html" %}
{% block content %}
<h1>Contract {{ contract.id }} {{ contract.version }}</h1>
<p>Status: {{ status }}</p>
<p><a href="/api/contracts/{{ contract.id }}/{{ contract.version }}">Download JSON</a></p>
{% if datasets %}
<h2>Datasets</h2>
<ul>
  {% for d in datasets %}
  <li><a href="/datasets/{{ d.dataset_version }}">{{ d.dataset_name }} {{ d.dataset_version }}</a> - {{ d.status }}</li>
  {% endfor %}
 </ul>
{% endif %}
<h2>Contract</h2>
<pre class="small">{{ contract | tojson(indent=2) }}</pre>
{% endblock %}

